.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

.constructor {
  display: flex;
  justify-content: space-between;
}

.constructor-left, .constructor-right {
  flex-basis: 50%;
  text-align: center;
}

.constructor-right {
  text-align: center;
}

.avail-wrap {
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  text-align: center;
  min-width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
}

button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  line-height: 34px;
  border-radius: 2px;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  margin: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

button:active {
  box-shadow: none;
}
button.addClick {
  background: #2bbbad;
}

button.removeClick {
  background: #E57373;
}











